body {
  
}

h1, h2 {
  float:left;
  width:100%;
}
 
#container {
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width:1024px;
} 

#hcarousel {
  float:left;
  width:640px;
  height: 200px;
}

#vcarousel {
  float:left;
  height:340px;
  width: 100px;
}

.ui-state-disabled {
  visibility:hidden;
}

.item1 {  background:#F2F2F2; }
.item2 {  background:#E5E5E5; }
.item3 {  background:#D8D8D8; }
.item4 {  background:#CCC;    }
.item5 {  background:#BFBFBF; }
.item6 {  background:#B2B2B2; }
.item7 {  background:#A5A5A5; }
.item8 {  background:#999;    }
.item9 {  background:#8C8C8C; }
.item10 { background:#7F7F7F; }
.item11 { background:#727272; }
.item12 { background:#666;    }  

.ui-carousel-horizontal .ui-carousel-prev a,  .ui-carousel-horizontal .ui-carousel-next a {
  color:#6CF;
  text-decoration:none;
  background: #C6F1FF;
}

.ui-carousel-horizontal .ui-carousel-prev a:hover,  .ui-carousel-horizontal .ui-carousel-next a:hover {
  background: #6CF;
  color:#FFF;
}

.ui-carousel-vertical .ui-carousel-prev a,  .ui-carousel-vertical .ui-carousel-next a {
  color:#6CF;
  text-decoration:none;
  background: #C6F1FF;
}

.ui-carousel-vertical .ui-carousel-prev a:hover,  .ui-carousel-vertical .ui-carousel-next a:hover {
  background: #6CF;
  color:#FFF;
}


