body {
}

h1, h2 {
  float:left;
  width:100%;
}
 
#container {
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width:1024px;
  padding-bottom: 50px;
} 

.item1 {  background:#F2F2F2; }
.item2 {  background:#E5E5E5; }
.item3 {  background:#D8D8D8; }
.item4 {  background:#CCC;    }
.item5 {  background:#BFBFBF; }
.item6 {  background:#B2B2B2; }
.item7 {  background:#A5A5A5; }
.item8 {  background:#999;    }
.item9 {  background:#8C8C8C; }
.item10 { background:#7F7F7F; }
.item11 { background:#727272; }
.item12 { background:#666;    }

/* Horizontal carousel */
#hcarousel {
  float:left;
  width:600px;
  height: 250px;
}

#hslider {
  float:left;
  margin:10px 3px 5px 10px;
  width:541px;
}

.ui-carousel-horizontal .ui-carousel-prev a,  .ui-carousel-horizontal .ui-carousel-next a  {
  float:left;
  height: 20px;
  width: 20px;
}

.ui-carousel-horizontal .ui-carousel-prev,  .ui-carousel-horizontal .ui-carousel-next {
  float:left;
  height: 20px;
  width: 20px;
  margin-top: 7px;
}

.ui-icon-triangle-1-e {
  background-position:-32px -15px;
}

.ui-icon-triangle-1-w {
  background-position:-96px -15px;
}

/* Verticak carousel */
#vcarousel {
  float:left;
  height:300px;
  width: 140px;
}

#vslider {
  float:left;
  height:234px;
  margin: 10px 10px;
}

.ui-carousel-vertical .ui-carousel-prev a,  .ui-carousel-vertical .ui-carousel-next a  {
  float:left;
  height: 20px;
  width: 20px;
}

.ui-carousel-vertical .ui-carousel-prev,  .ui-carousel-vertical .ui-carousel-next {
  float:left;
  height: 20px;
  width: 20px;
  margin-left: 7px;
}

.ui-icon-triangle-1-e {
  background-position:-32px -15px;
}

.ui-icon-triangle-1-w {
  background-position:-96px -15px;
}
