/* Horizontal */
.ui-carousel-horizontal .ui-carousel-container {
  float: left;
  width: 600px;
  height: 200px;
  overflow:hidden;
}

.ui-carousel-horizontal .ui-carousel-container ul {
  float:left;
  width: 10000000px;
  height: 200px;
  margin:0;
  padding:0;
}

.ui-carousel-horizontal .ui-carousel-container ul li {
  float:left;
  width:200px;
  height: 200px;
  list-style:none;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  margin:0;
  padding:0;
}

.ui-carousel-horizontal .ui-carousel-prev,  .ui-carousel-horizontal .ui-carousel-next,
.ui-carousel-horizontal .ui-carousel-prev a,  .ui-carousel-horizontal .ui-carousel-next a  {
  float:left;
  width: 20px;
  height:200px;
  line-height: 200px;
  font-size: 20px;
  text-align:center;
}

.ui-carousel-horizontal .ui-carousel-prev a,  .ui-carousel-horizontal .ui-carousel-next a {
  color:#6CF;
  text-decoration:none;
  background: #C6F1FF;
}

.ui-carousel-horizontal .ui-carousel-prev a:hover,  .ui-carousel-horizontal .ui-carousel-next a:hover {
  background: #6CF;
  color:#FFF;
}


/* Vertical */
.ui-carousel-vertical .ui-carousel-container {
  float: left;
  width: 100px;
  height: 300px;
  overflow:hidden;
}

.ui-carousel-vertical .ui-carousel-container ul {
  float:left;
  height: 10000000px;
  width: 100px;
  margin:0;
  padding:0;
}

.ui-carousel-vertical .ui-carousel-container ul li {
  float:left;
  width:100px;
  height: 100px;
  list-style:none;
  line-height: 100px;
  font-size: 40px;
  text-align: center;
  margin:0;
  padding:0;
}

.ui-carousel-vertical .ui-carousel-prev,  .ui-carousel-vertical .ui-carousel-next,
.ui-carousel-vertical .ui-carousel-prev a,  .ui-carousel-vertical .ui-carousel-next a  {
  float:left;
  height: 20px;
  width:100px;
  line-height: 20px;
  font-size: 20px;
  text-align:center;
}

.ui-carousel-vertical .ui-carousel-prev a,  .ui-carousel-vertical .ui-carousel-next a {
  color:#6CF;
  text-decoration:none;
  background: #C6F1FF;
}

.ui-carousel-vertical .ui-carousel-prev a:hover,  .ui-carousel-vertical .ui-carousel-next a:hover {
  background: #6CF;
  color:#FFF;
}
